<div class="jumbotron bg-dark text-white p-5">
  <div class="container"><h1 class="display-4">Wordle</h1>
    <p class="lead">An exciting game for players of all ages. Adventure awaits!</p>
    <a class="btn btn-light btn-lg"
       href="#" role="button" routerLink="/game">Start Game</a></div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-8"><img src="https://vistapointe.net/images/words-8.jpg" class="img-fluid" alt="words"></div>
    <div class="col-md-4"><h3>About the Game</h3>
      <p>The interface consists of a 6×6 grid and a virtual keyboard. Navigate it using the mouse normally. Begin by
        typing in any term that would fit. Gray
        tiles indicate that the characters they contain are not part of the solution. Yellows mean that their symbols
        are indeed present but should be in a different spot. Finally, greens signify that both the letter and the
        placement are correct. Continue going through various options and methodically deducing the answer.</p> <a
        class="btn btn-dark" href="https://wordle-game.io/about-wordle/" role="button">Learn More</a></div>
  </div>
</div>
<footer class="bg-dark py-3 text-white">
  <div class="container"><p class="text-center">Copyright &copy; Game Website 2023</p></div>
</footer>
